
<!DOCTYPE html>
<html>
	<head>
		<title>Pflege für Alle</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='media/logo.svg') }}">
	</head>

    	<body>
        	<div class="mainBackground">
    
          		<video autoplay loop muted plays-inline class="back-video">
              			<source src="{{ url_for('static', filename='media/videoclip.mp4') }}" type="video/mp4">
          		</video>
    

				{% with messages = get_flashed_messages() %}
                                {% if messages %}
                                        <div class="notif">
                                                {{ messages[0] }}
                                        </div>
                                {% endif %}
                                {% endwith %}
                                <div class="center">
                                    <h1>Neue Person hinzufügen</h1>
                                    <form method="POST" action="/anmeldenMB">
                                      <div class="txt_field">
                                        <input type="text" name="VorName" required>
                                        <label>Vorname</label>
                                      </div>
                                      <div class="txt_field">
                                        <input type="text" name="NachName" required>
                                        <label>Nachname</label>
                                      </div>
                                      <div class="txt_field">
					<input type="radio"  name="Position" value="Verwaltung">
  					<label for="html">Verwaltung</label><br>
				      </div>
				      <div class="txt_field">
  					<input type="radio"  name="Position" value="Ambulant">
  					<label for="css">Pflege - Mobil</label><br>
				      </div>
				      <div class="txt_field">
  					<input type="radio"  name="Position" value="Stationär">
  					<label for="javascript">Pflege - Stationär</label>
                                      </div>
				      <a href="{{ url_for('main.liste') }}">Zurück</a>
                                      <input type="submit" value="Abschicken">
                                    </form>
                                  </div>
                                </div>
                              </body>
                              </html>
                              
