{% extends 'base.html' %}
{% block content %}
<div class="date-container">
    <button class="date-btn" id="previous-btn">&#60;</button>
    <span class="date">DD.MM.YYYY</span>
    <button class="date-btn" id="next-btn">&#62;</button>
</div>
<table class="appointment-table">
    <thead>
        <tr>
            <th>Uhrzeit</th>
            <th>Patient</th>
            <th>Tel.</th>
            <th>Rolle</th>
            <th>Ort</th>
            <th>Wohnraum</th>
        </tr>
    </thead>
    <tbody>
        {% for item in appointments %}
            <tr>
                <td>{{ item["Uhrzeit"] }}</td>
                <td>{{ item["VorName"] }} {{ item["NachName"] }}</td>
                <td>{{ item["TelefonNummer"] }}</td>
                <td>{{ item["Rolle"] }}</td>
                <td>{{ item["Straße"] }} {{ item["Hausnummer"] }}, {{ item["PLZ"] }} {{ item["Ort"] }}</td>
                <td>{{ item["Wohnraum"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    const previousBtn = document.getElementById('previous-btn');
    const nextBtn = document.getElementById('next-btn');
    const dateElement = document.querySelector('.date');

    let currentDate = new Date();

    previousBtn.addEventListener('click', () => {
        currentDate.setDate(currentDate.getDate() - 1);
        updateDate();
    });

    nextBtn.addEventListener('click', () => {
        currentDate.setDate(currentDate.getDate() + 1);
        updateDate();
    });

    function updateDate() {
        const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
        const formattedDate = currentDate.toLocaleDateString('en-GB', options);
        dateElement.textContent = formattedDate;
    }

    updateDate();
</script>
{% endblock %}
