<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pflege für Alle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='media/logo.svg') }}">
</head>
<body>

    <div class="mainBackground">

        <video autoplay loop muted plays-inline class="back-video">
            <source src="{{ url_for('static', filename='media/videoclip.mp4') }}" type="video/mp4">
        </video>

        <nav>
            <img src="{{ url_for('static', filename='media/logo.svg') }}" class="logo1">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/dienstplan">DIENSTPLAN</a></li>
                <li><a href="/verwaltung">VERWALTUNG</a></li>
            </ul>
        </nav>

        <div class="center2">
            <div class="date-container">
                <h1>Verwaltungssicht</h1>
            </div>
            <div class="table-header-verwaltung">
                <div class="button-group">
                    <button class="rounded-button1">Mitarbeiter</button>
                    <button class="rounded-button2">Patient</button>
                </div>
                <div class="search-box">
                    <input type="text" class="search-box-text" placeholder="Suchen...">
                </div>
                <div class="dropdown">
                    <button class="dropdown-button">Edit</button>
                    <div class="dropdown-content">
                        <a href="#">Krankmeldung</a>
                        <a href="#">Anmeldung</a>
                        <a href="#">Abmeldung</a>
                    </div>
                </div>
            </div>

            <table class="verwaltung-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Datum (von - bis)</th>
                        <th>Krankheitsbeschreibung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in verwaltungen %}
                    <tr>
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }} bis {{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pfeil-buttons">
                <button id="prevButton" class="pfeil-buttonL">◀</button>
                <button id="nextButton" class="pfeil-buttonR">▶</button>
            </div>
        </div>
    </div>

    <script>
        // Damit ändern sich die Farben von Table-Rows wenn man auf "Mitarbeiter" oder "Patient" clickt. 
        document.addEventListener("DOMContentLoaded", function() {
            const button1 = document.querySelector(".rounded-button1");
            const button2 = document.querySelector(".rounded-button2");
            const rows = document.querySelectorAll("tbody tr");
          
            button1.addEventListener("click", function() {
              rows.forEach(function(row) {
                row.classList.remove("Patient-background");
                row.classList.add("Mitarbeiter-background");
                row.style.color = "white"; // Text-Farbe von "Mitarbeiter" in weiß ändern
              });
            });
          
            button2.addEventListener("click", function() {
              rows.forEach(function(row) {
                row.classList.remove("Mitarbeiter-background");
                row.classList.add("Patient-background");
                row.style.color = "white"; // Text-Farbe von "Patient" in weiß ändern
              });
            });
          });
    </script>
</body>
</html>
